@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .nav-logo-link {
  margin: 0;
  padding: 0;
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

/* blog previews / list */

.preview-content {
  margin: 10px 0;
  padding: 15px 16px;
  border-bottom: 1px solid #fafafa;
}

.preview-content:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.preview-content h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.preview-content a {
  text-decoration: none;
}
/* show blog page */

.blog-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details .title {
  font-size: 30px;
}

.blog-details .author {
  font-size: 15px;
  margin-bottom: 15px;
}

.blog-details button {
  
  background: #f1365d;
  color: #fff;
  border: 0;
  padding: 9px;
  border-radius: 8px;
  cursor: pointer;
}

/* Create Blog Page */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1365d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1365d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create .button-submitting {
  background: #aaa;
}

.create .preview-content {
  padding: 18px 22px;
  text-align: left;
  border: 1px solid lightgray;
}

.create .preview-content h1 {
  text-align: center;
  margin-bottom: 40px;
}

.create .preview-content .title {
  font-size: 30px;
}


.create .preview-content .body {
  margin: 20px 0;
}

.create .preview-content .author {
  font-size: 12px;
}